@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
    --background-color: #FAFAFA;
    --container-color: #b7b7c5;
    --border-color: #333333;
    --text-color: #1b1b1b;
    --country-item-color: #F0F0FA;
    --country-item-color-hover: #D0D0EA;
}

#root {
    min-width: 400px;
}

@media only screen and (max-width: 576px) {
    #root {
        min-width: 300px;
        max-width: 300px;
        font-size: 0.8rem;
    }
}

h1 {
    margin: 0px;

    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 100;
}

body {
    display: flex;
    justify-content: center;

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.18rem;

    width: 100%;
    margin-bottom: 3px;
    padding: 0.18rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    background-color: var(--container-color);
}

.bold {
    font-weight: 500;
}